* {
    box-sizing: border-box;
}
.single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
  }

.dynapuff-master {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
}
html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "DynaPuff", system-ui;
    height: 100%;
    background-color: #26242a;
}

h1 {
    color: #C24D71;
    
    color: antiquewhite;
}

.dyna {
    font-family: "DynaPuff";
    color: antiquewhite;
}

h2 {
    color: white;
    font-size: 5rem;
    
}

footer {
    background-color: #C2B946;
    min-height: 80px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ball {
    background-color: white;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    border: 2px solid red

}
button {
    background-color: rgb(89, 230, 89);
    font-family: "DynaPuff";
    font-size: 2rem;
    font-weight: bolder;
}